@tailwind base;
@tailwind components;
@tailwind utilities;

.offers-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-template-rows: repeat(4, auto); /* 4 rows, height adjusts to content */
  gap: 40px; /* Space between items */
}

.offer-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content */
  justify-content: center; /* Center content */
  position: relative;
}

.offer-item img {
  max-width: 100%;
  height: 100%;
}

.offer-item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.offer-item:nth-child(2) {
  grid-column: 3 / 5;
  grid-row: 1 / 2;
}
.offer-item:nth-child(3) {
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}

.offer-item:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
.offer-item:nth-child(5) {
  grid-column: 4/ 5;
  grid-row: 2 / 3;
}
.offer-item:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}
.offer-item:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
}
